<!DOCTYPE html>
<html>

    <head>
        <title>Library</title>
    </head>
    <body>
        <header>
            <h1>Library</h1>
            <p>A simple web application example.</p>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="">Book List</a>
            <a href="">Add Book</a>
        </nav>

        <div class = "container">
            {% block content %}{% endblock %} 

        </div>

        <footer>
            <p>&copy; 2025 Programmazione Web UNICA</p>
        </footer>
    </body>


</html>
